.woocommerce-loop-product__title {
  color: #000 !important;
}
.woocommerce.single-product .product-list .product-img,
.woocommerce.archive .product-list .product-img {
  background: transparent !important;
}
.product-img {
  width: 100%;
  img {
    height: 300px;

    object-fit: cover;
  }
}

.woocommerce-loop-product__title,
.product-content h4.p-title a {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px !important;
  -webkit-line-clamp: 3;
  height: 72px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.grid-item .product-item {
  border: 1px solid #ccc;
}
.quick-wish {
  display: none;
}
.product-content {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.woocommerce.single-product .product-type-variable .summary .product_title,
.woocommerce.single-product .product-type-external .summary .product_title,
.woocommerce.single-product .product-type-grouped .summary .product_title,
.woocommerce.single-product .product-type-simple .summary .product_title {
  padding-right: 30px;
}

.stock.outofstock{
  width: 100px;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  height: 30px;
  margin: 15px 0px 0px 0px;
  align-items: center;
}
.product_meta table{
  td,th{
    border: none !important;
  }
  th{
    width: 100px;
  }
}
