.woocommerce-loop-product__title {
  color: #000 !important;
}
.woocommerce.single-product .product-list .product-img,
.woocommerce.archive .product-list .product-img {
  background: transparent !important;
}
.product-img {
  width: 100%;
  img {
    height: 300px;

    object-fit: cover;
  }
}

.woocommerce-loop-product__title,
.product-content h4.p-title a {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px !important;
  -webkit-line-clamp: 3;
  height: 72px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.grid-item .product-item {
  border: 1px solid #ccc;
}
.quick-wish {
  display: none;
}
.product-content {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
